<!DOCTYPE html>
{%extends 'reporting/main.html'%}

{%block block_body%}
<div class="container">
    <div class="col-lg-12 mb-5">
        <form action="" method="get" class="d-flex">
            {{filter.form}}
            <button type="submit" class="btn btn-success ml-2">search</button>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-6">
            {%if timesheet %}
            <table class="table">
                <tr>
                    <td>Batch</td>
                    <td>Topic</td>
                    <td>user</td>
                    <td>Topic Status</td>
                    <td>Status</td>
                    <td>date</td>
                    <td>action</td>
                </tr>

                {%for data in timesheet%}
                <tr>
                    <td>{{data.batch}}</td>
                    <td>{{data.topic}}</td>
                    <td>{{data.user}}</td>
                    <td>{{data.topic_status}}</td>
                    <td>{{data.verified}}</td>
                    <td>{{data.date}}</td>
                    {%if request.user.is_admin %}

                    <td>
                        {%if not data.verified%}
                        <a href="{%url 'changestatus' data.id%}" class="btn btn-warning">verify</a>
                        {%endif%}
                    </td>
                    {% else %}
                    <td><a href="{%url 'editsheet' data.id%}" class="btn btn-warning">edit</a></td>
                    {% endif %}
                </tr>
                {%endfor%}

            </table>
            {%else%}
            <h2 class="text-center">not records found</h2>
            {%endif%}
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>


{%endblock%}