<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        {%if request.user.is_admin%}
                <a class="navbar-brand" href="{%url 'adminhome'%}"><span></span> reporting system</a>
        {%else%}
                 <a class="navbar-brand" href="{%url 'userhome'%}"><span></span> reporting system</a>
        {%endif%}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                {%if request.user.is_authenticated%}
                 <li class="nav-item">
                    <a class="nav-link" href="{%url 'signout'%}">Logout</a>
                </li>
                {%endif%}
            </ul>

        </div>
    </div>
</nav>
<div class="container">
    <br>
    <br>
    <br>
    {%block block_body%}

    {%endblock%}
</div>
</body>
</html>